# begin eclipse java
*.pydevproject
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
*.dex
*.cache
*.apk
*.ap_
bin/classes/*
bin/classes/com/*
bin/dexedLibs/*
bin/res/*
bin/classes.dex
bin/jarlist.cache
# end eclipse java