# begin eclipse java
*.pydevproject
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
*.dex
*.cache
*.apk
*.ap_
HelloWorldmaster2/bin/classes/*
HelloWorldmaster2/bin/dexedLibs/*
HelloWorldmaster2/bin/res/*
# end eclipse java